<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="jquery-mobile/css/themes/default/jquery.mobile.css" />
    <script src="jquery/jquery.js"></script>
    <script src="jquery-mobile/js/jquery.mobile.js"></script>
</head>
<body>
    <div data-role="page" id="home">
        <div data-role="header" data-posistion="fixed">
            <a href="/" data-icon="home" data-iconpos="notext"></a>
            <h1>Issue Manager Mobile</h1>
        </div>


        <div data-role="content">
            <li data-role="listview">
                <li th:each="issue : ${issues}"></li>
                    <a th:href="${issue.githubIssue.htmUrl}" target="_blank" th:text="${issue.githubIssue.title}"></a>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>